body {
    background:radial-gradient(#e5e5e5, #ffffff, #e5e5e5);
}

.card {
    background-color: #ffffff;
    /* border-radius: 6px; */
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden;
}

.card-body {
    padding: 2rem !important;
}

.container {
    display: flex;
    flex-direction: row;   
    margin: auto; 
    font-family: sans-serif;
}

.top-container {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: x-large;
    font-weight: 600;
    line-height: 2.5rem;
    color: #1964eb;
    font-style: normal;
}

.card-text {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-style: normal;
}

.overflow {
    flex-direction: row;
    padding-left: 1rem;
}

.image {
    border-radius: 0.5rem;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
}

.salary-sub-container {
    padding-right: 2rem;
    width: 25rem;
}

.sub-container {
    display: flex;
    flex-direction: row;
}

.median-space {
    padding-left: 1.5rem;
}

.education-space {
    padding-left: 1.5rem;
}

.sub-title {
    width: 8rem;
}

.salary {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: black;
}

.education-container {
    display: flex;
    flex-direction: row;
}

.level {
    font-family: sans-serif;
    width: 31rem;
    padding-top: 0.7rem;
}


.bar {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
}

.line-bar {
    width: 19rem;
    /* padding-left: 0.7rem; */
    padding-top: 0.8rem;
}

.icon {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #e5e5e5;
    border-radius: 0.3rem; 
}
